* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: #ffffff;
    padding: 20px;
    width: 300px;
    height: 200px;
}

h1 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
}

ul {
    padding-left: 0;
    list-style: none;
}

li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20%;
    margin: 10px 0;
}

input#name {
    padding: 5px;
    border: 1px solid red;
    border-radius: 5px;
}

div.tagsMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    user-select: none;
}

div.tag {
    background-color: #888;
    padding: 2px 7px 2px 7px;
    margin: 1%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

div.tag.selected {
    background-color: #dedede;
    padding: 4px 8px 4px 8px;
    font-size: 120%;
}

.cross-button {
    width: 10px;
    padding: 2px;
    cursor: pointer;
    position: relative;
}

/* Couleur des boutons */
.cross-top,
.cross-bottom {
    width: 10px;
    border: 1px solid black;
    background-color: black;
    display: block;
    border-radius: 2px;
    position: absolute;
}

.cross-top {
    transform: rotate(45deg);
}

.cross-bottom {
    transform: rotate(-45deg);
}