* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    gap: 3em;
    padding: 4em;
}

div.bookmarksMain {
    width: 60%;
}

h1 {
    text-align: center;
    margin: 2em 0;
    font-size: 3em;
}

div.bookmarkCard {
    margin-bottom: 15px;
    color: white;
    padding: 6px 12px;
    border-radius: 8px;
    background-color: cornflowerblue;
    display: flex;
    gap: 1em;
    align-items: center;
}

div.bookmarkCard img {
    width: 3em;
    aspect-ratio: 1;
}

div.bookmarkCardText {
    width: 100%;
}

.bookmarkLink {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

input#search {
    margin: 2em 0 1em 0;
}

div.searchOptions {
    padding: 0 2em;
}

div.formGroup {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1em 0 2em 0;
    margin-right: 2em;

}

fieldset {
    border: none;
    display: flex;
    gap: 2em;
}

.tagsMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    user-select: none;
}

div.tag {
    background-color: rgb(182, 179, 179);
    padding: 4px 8px;
    margin: 1%; 
    border-radius: 8px;
    display: flex;
    font-size: 1.25em;
    color: #000;
}

div.tag.selected {
    background-color: cornflowerblue;
    color: white;
}

p.tagCount {
    margin-left: 10px;
    color: white;
    background-color: #000;
    padding: 1px 5px;
    border-radius: 50%;
}

div.tagsSection {
    display: flex;
    flex-direction: column;
    width: 40%;
}

div.options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    
}

input, button {
    padding: 6px 12px;
}

button {
    background-color:cornflowerblue;
    color: white;
    border: 2px solid cornflowerblue;
    border-radius: 4px;
    font-size: 1.2em;
    cursor: pointer;
}

aside {
    margin-top: 1em;
    align-items: flex-start;
    border: 1px solid black;
    border-radius: 20px;
    min-height: 40vh;
    padding: 1em;
}

aside div.tag{
    cursor: pointer;
}
