* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: #ffffff;
    padding: 20px;
    width: 100vw;
    height: 200px;
    display: flex;
}

main {
    width: 60%;
}

div.bookmarkCard {
    margin-bottom: 15px;
    border: 1px solid white;
    padding: 1.5%;
    border-radius: 8px;
}

.bookmarkLink {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.tagsMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    user-select: none;
}

div.tag {
    background-color: #888;
    padding: 2px 7px 2px 7px;
    margin: 1%; 
    border-radius: 8px;
}

div.tag.selected {
    background-color: #dedede;
    padding: 4px 8px 4px 8px;
    font-size: 120%;
}